
/*elements*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
button {
    border: 2px solid #ced4da !important;
    border-style: outset !important;
}
nav {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #ced4da !important;
    border-bottom-style: inset !important
}
#loading-screen {
    width: 100%;
    margin-left: 40%;
    margin-top: 10%
}
#loading-screen span.fa {
    font-size: 10em;
    color: #bac1ca;
}
