@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    var development = hostingEnv.EnvironmentName == "Development";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    @if (development)
    {
        <link rel="stylesheet" href="css/default.css">
        <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css"/>         
    } 
    else
    {
        <link rel="stylesheet" href="css/default.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            asp-fallback-href="libs/bootstrap/css/bootstrap.min.css"
            asp-fallback-test-class="hidden" 
            asp-fallback-test-property="visibility" 
            asp-fallback-test-value="hidden" /> 
    }

</head>
<body>      

    @RenderBody()

</body>
@if (development)
{
    <script type="text/javascript" data-main="app/main.js" src="libs/requirejs/require.js"></script>
}
else
{
    <script type="text/javascript" data-main="app/main.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
    <script type="text/javascript">window.requirejs ||  document.write('<script src="libs/requirejs/require.js">\x3C/script>')</script>
}
</html>
